
form
{
    width: 100%;
    display:flex;
    justify-content: center;
}
.error{
    border: 2px solid red;
}

.civility_section
{
    display:flex;
    width:100%;
    justify-content: center;
}
.name_section{
    
    width: 100% !important;
}
.name_object{

    width: 50%;
}
.password_object{
    width: 100% !important;
}
.data_object{
    width: 60%;
    align-self: center;
}